* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: black;
  font-family: "Roboto", sans-serif;
}

.exercise__content h3 {
  font-size: 25px;
}

.requirement-1 {
  margin-top: 70px;
}

.req-title {
  width: 65%;
  background-color: #d8d8d8;
  margin-top: 15px;
}

.req-title h6 {
  font-size: 19px;
  line-height: 35px;
  padding-left: 20px;
}

.req-content {
  display: none;
  padding-bottom: 35px;
}

.exercise__content button {
  background-color: #ede4e0;
  padding: 6px 30px;
  margin-top: 5px;
  border-radius: 40px;
  border: 1px solid #ede4e0;
  font-weight: 600;
}

.exercise__content button:hover {
  background-color: #aa8b56;
  color: white;
}

.exercise__content div.result {
  background-color: #446a46;
  color: white;
  border: 2px solid #446a46;
  border-radius: 8px;
  padding: 15px 30px;
  line-height: 1.3;
  opacity: 0.6;
  margin-top: 25px;
  font-size: 20px;
  font-weight: 600;
}

.exercise__content div.result span {
  margin-left: 5px;
}

.exercise__content div:last-of-type::before {
  content: "";
}

@media screen and (max-width: 1440px) {
  .form-group {
    width: 55%;
  }

  .exercise__content div.result {
    width: 65%;
  }
}

@media screen and (max-width: 763px) {
  .container {
    margin-left: 40px;
  }
  .exercise__content div.result, .req-title {
    width: 80%;
  }
}
